.first {
  color: aquamarine;
}

.second {
  color: blueviolet;
}

.complement {
  color: blue;
  font-size: larger;
}

.dark {
  color: darkblue;
}

.light {
  color: lightblue;
}

div:hover {
  border: 2px solid red;
}
h3 {
  background-color: bisque;
  font-family: sans-serif;
  font-style: italic;
}