

.lista {
  text-align: center;
}

.minhaLista {
  background-color: aquamarine;
  
}

.lis:hover {
  background-color: blueviolet;

}
.lis:active {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li.motivos {
  list-style: none;
}